<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="c.r.myapplication">

    <application
        android:name=".NewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_simab"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_simab_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name=".ui.home.home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.add.AddActivity"
            android:exported="true"
            android:label="Tambah Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.news.NewsActivity"
            android:exported="true"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="true"
            android:label="Input Detail CR"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.adddetail.AddDetailActivity"
            android:exported="true"
            android:label="Tambah Detail CR"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

</manifest>